settings.xml
cpd.raw
compileresults.txt
cpd.xml
crossdomain.xml
jslint.xml
csslint.xml
CFIDE
WEB-INF
META-INF
snapshots
mxunit
reports
inspection
varscoper.csv

# Ignore all dotfolders...
.*
/**/.*

# except
!.gitignore
!/**/.gitignore